<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDENp_r-Y6YEYwDmmE9Ij3vvG25IwhsSTk</string>
	<key>GCM_SENDER_ID</key>
	<string>465806909950</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.choreograph</string>
	<key>PROJECT_ID</key>
	<string>choreograph-5bd39</string>
	<key>STORAGE_BUCKET</key>
	<string>choreograph-5bd39.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:465806909950:ios:c057de7e300a56bdbd60af</string>
</dict>
</plist>